* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
*:before,
*:after {
   box-sizing: border-box;
  } 
  html {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    position: relative;
  }
  body {
    background: #eee;
    padding: 0 16px;
    
    height: 100%;
    position: relative;
  }
  .main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 50px; /* height of  footer */
    
   }


  nav {
    background-color: #00acee;
    
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;
     
    
  }
  
  nav li a{
    color: #fff !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
  }
  
  .navbar-brand {
    padding-top: 0 !important;
  }

  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    
  }
  
  footer p {
    color: #ccc;
  }
  .tweets {
    position: relative;
    width: 280px;
    
    margin: 100px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    
    
  }
  .tweets h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .tweets p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .tweets button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #00acee;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  }
  
  form {
    position: relative;
    width: 280px;
    
    margin: 100px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  .avatar {
    vertical-align: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;

  }

  form input,
  form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    margin-bottom: 30px;
  }
  form button {
    position: absolute;
    right: 18px;
    bottom: 10px;
    background: #00acee !important;
    color: #fff;
    padding: 0 !important;
    width: 4rem;
    height: 2rem;
    box-shadow: none !important;
    cursor: default !important;
    outline: none !important;
  }

  